<body>
    <section class="pricing">
        <div class="card-wrapper">
            <div class="card-header">
                <h2>Monthly subscription</h2>
                    <div class="card-price">
                        <p><sup>€</sup>35<sub>/month</sub ></p>
                    </div>  
                    <p>Lorem ipsum dolor sit amet</p>
            </div>
            <button class="card-button" (click)="addSubscription(1)">SUBSCRIBE</button>
        </div>

        <div class="card-wrapper">
            <div class="card-header">
                <h2>6 months subscription</h2>
            </div>
            <div class="card-price">
                <p><sup>€</sup>150<sub>/6 months</sub ></p>   
            </div>
            <p>Lorem ipsum dolor sit amet</p>
            <button class="card-button" (click)="addSubscription(6)">SUBSCRIBE</button>
        </div>

        <div class="card-wrapper">
            <div class="card-header">
                <h2>1 year subscription</h2>
            </div>
            
            <div class="card-price">
                <p><sup>€</sup>250<sub>/year</sub ></p>
            </div>
            <p>Lorem ipsum dolor sit amet</p>
            <button class="card-button" (click)="addSubscription(12)">SUBSCRIBE</button>
        </div>

    </section>
</body>